body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-irish-grover: "Irish Grover";
  --font-jura: Jura;

  /* font sizes */
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: rgba(255, 255, 255, 0.75);

  /* Paddings */
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-3xs: 10px;
}